.Button {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  color: #2d3142;
  background-color: #bfc0c0;
  text-transform: uppercase;
  font-weight: bold;
  
  padding: 4px 10px;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 75px;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
  background-color: #fb6107;
  color: #2d3142;
}

.Button:hover:active {
  background-color: #fb6107 !important;
}

.Button:active {
  background-color: #fb6107 !important;
}

.Button:focus {
  background-color: #fb6107;
}

.Wide {
  padding: 10px 40px;
}
