.Button {
  font-size: 0.8rem;
  border-color: transparent;
  color: black;
  background-color: #bfc0c0;
  text-transform: uppercase;
  font-weight: bold;
  padding: 4px 10px;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 75px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(9.8px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
  background-color: black;
  color: white;
}

.Button:hover:active {
  background-color: black !important;
}

.Button:active {
  background-color: black !important;
}

.Button:focus {
  background-color: black;
}

.Wide {
  padding: 10px 40px;
}
