.Form {
  background: rgba(203, 45, 62, 0);
  border-radius: 16px;
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgb(211 216 222);
  padding: 1em;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  margin-bottom: 1em;
}

.Comment {
  border: none;
}
