.NavBar {
  background-color: #2d3142;
}

.NavLink {
  padding: 5px;
}

* {
  box-sizing: border-box;
}

i {
  color: #bfc0c0;
  font-size: 1.6rem;
  padding: 5px;
  vertical-align: middle;
}

.Active i {
  color: #FB6107;
}

span {
  color: #bfc0c0;
}

a:hover {
  text-decoration: none;
}
