.Container {
  /* From https://css.glass */
  background: rgba(203, 45, 62, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgb(211 216 222);
  text-align: -webkit-center;
  padding: 1em;
}

.Input {
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
}
