.App {
  font-family: "Alexandria", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}

.Main {
  padding-top: 120px;
  color: white;
}

.Content {
  text-align: -webkit-center;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

input[type="file"] {
  display: none;
}
