.App {
  font-family: "Alexandria", sans-serif;
  background: linear-gradient(-45deg, #ffffff, #c2c2c2 , #ebeaea);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.Main {
  padding-top: 120px;
  color: black;
  height: 100vh;
}

.Content {
  text-align: -webkit-center;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

input[type="file"] {
  display: none;
}
